.checkout-column {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 25px;
}

.total-column {
    padding: 0 25px;
}

.checkout-title {
    margin-bottom: 25px;
}

.coupon-form {
    margin-top: 25px;
}