footer {
    left: 0px;
    right:0;
    margin-top: 100px;
    background-color: rgb(235, 230, 223);
    padding: 50px;
    height: 200px;
    color: rgb(82, 82, 82);
    display: flex;
    align-items: center;
}

footer .col {
    display: flex;
    align-items: center;
    flex-direction: column;
}