
input:focus, textarea:focus {
    outline: black !important;
    box-shadow: none !important;
    border: 1px solid black !important;
}

footer {
    left: 0px;
    right:0;
    background-color: rgb(235, 230, 223);
    padding: 50px;
    height: 350px;
    color: rgb(124, 116, 106);
}

footer .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.socialIcons img {
    width: 30px;
}

.ourBrands > p {
    margin-bottom: 0px;
}

.footer-sections{
    text-decoration: none !important;
    color:rgb(124, 116, 106);
}

.footer-sections :hover{
    text-decoration: none;
    color: black;
}

.footer-sections>img {
    color: white;
}

.footer-sections>img:hover {
    filter: brightness(0.5);
}


