.main-dashboard{
    background-color: #ebecec;
}
.board-item{ 
    color: #9a9a9a;
    font-Size: 1.2em;
    line-Height: 1.4em;
    margin-bottom:0
}

.board-number{ 
    font-weight: bold; 
    font-size: 1.8em;
    margin-bottom: 0 
}

.dashboard-card{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 100px;
}
.dashboard-chart{
 height: 300px;
 background-color: white;
 padding: 15px 10px;
 margin-bottom: 20px;
}
  

