.img-box {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-box img{
    width: 100%;
    object-fit: cover;
}

.addoption {
    font-size: 1.5em;
    height: 40px;
    text-align: center;
}

div.card-header {
    padding: 0px;
}