.coverImage {
    width: 100%;
    object-fit: contain;
}

.searchByCategory {
    background-color: rgb(248, 247, 245);
    margin: 0px;
    padding: 0px;
    height: 500px;
    display:flex;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    margin: 30px 100px;
    font-size: 1.4em;
    text-align: center;
}