@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&display=swap'); */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h5 {
    font-weight: 600;
}

b {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.red-text {
    color: #dc3545;
    font-weight: 600;
}

button {
    margin-bottom: 1rem;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: 0;
}

.dropdown-item {
    font-weight: 300;
}

.form-control {
    border: 0px solid #212529;
    background-color: #eeeeee;
    border-radius: 0rem;
}

.form-control:disabled,
.form-control:read-only {
    background-color: #fff;
    border-bottom: 1px solid #212529;
}