@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&display=swap');

body {
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

h5 {
    font-weight: 600;
}

b {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.red-text {
    color: red;
    font-weight: 600;
}