@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&display=swap'); */

*{
    transition: all 0.5s ease-in !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h5 {
    font-weight: 600;
}

b {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.red-text {
    color: red;
    font-weight: 600;
}

button {
    margin-bottom: 1rem;
}