.confirmation-page {
    text-align: center;
    margin-top: 50px;
}

.confirmation-page img {
    width: 150px;
}

.confirmation-page span {
    color: #77b440;
    font-size: 3em;
}

.confirmation-page p {
    font-size: 1.5em;
    padding-bottom: 25px;
}