.shopping-cart-icon {
    position: absolute;
    right: 100px;
    top: 15px;
}

.order-number {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(212, 20, 20);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 5px;
}