.shopping-cart-icon {
    position: absolute;
    right: 100px;
    top: 15px;
}

.order-number {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(240, 98, 98);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
#basic-navbar-nav {
    justify-content: space-between;
}

.shopping-icons {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    align-content: center;
}

.fullNavBar {
    padding: 10px 25px;
    align-items: baseline;
}

.navbar-brand {
    font-size: 3em;
    margin-right: 50px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}