.shopping-cart-icon {
    position: absolute;
    right: 100px;
    top: 15px;
}

.order-number {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #dc3545;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
#basic-navbar-nav {
    justify-content: space-between;
}

.shopping-icons {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    align-content: center;
}

.fullNavBar {
    padding: 10px 25px;
    align-items: baseline;
}

.navbar-brand {
    font-size: 3em;
    margin-right: 50px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

input[type='range'] {
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    background: #eeeeee;
}

input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background: #000000;
    border-radius: 50%;
    border: 2px solid white;
}

input[type='range']::-webkit-slider-thumb::before {
    background: #777; 
}

.navbar-toggler {
    border: none;
}