
.product-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-card > .card {
    border: none;
    margin-top: 15px;
}

.product-caption > .card-body {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}