.btn-group-vertical>.btn, .btn-group>.btn {
    border-radius: 20px;
    margin: 5px;
    height: 40px;
}

.sortby {
    border-radius: 25px;
    margin: 5px;
    height: 40px;
}

.filterButtons {
    display: flex;
    justify-content: center;
    margin: 15px 5px;
}

.productPage-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.productPage-header>.row {
    align-items: center;
}

.custom {
    color: black;
}

input[type='range'] {
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
input[type='range'] {
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    background: #eeeeee;
}
input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background: #000000;
    border-radius: 50%;
    border: 2px solid white;
}
input[type='range']::-webkit-slider-thumb::before {
    background: #777;
}