.add-cart-bar {
    display: flex;
    align-items: flex-end;
}

.price-detail {
    font-weight: 800;
    font-size: 2em;
}

.product-details {
    position: relative;
    margin-top: 15px;
}

.product-img img {
    width: 100%;
    margin-bottom: 50px;
}

.favorite-btn {
    position: absolute;
    right: 0;
}

.relatedproducts {
    margin-bottom: 50px;
    justify-content: center;
}

.title-column {
    padding: 0;
}