.btn-group-vertical>.btn, .btn-group>.btn {
    border-radius: 20px;
    margin: 5px;
    height: 40px;
}

.sortby {
    border-radius: 25px;
    margin: 5px;
    height: 40px;
}

.filterButtons {
    display: flex;
    justify-content: center;
}

.productPage-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom {
    color: black;
}